body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  background-color:#D0E1F9;

}

a {
  color: #ffffff;
}

nav {
  font-size: 20px;
  background-color:#1E1F26;
  padding-top: 10px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}

nav a {
  text-decoration: none;
}

.mainInfo {
  padding-top: 20px;
  color: #283655;
  margin: 15px 50px; /* снаружи */
  z-index: 0;
  display: flex;
  align-items: center;
}


.mainInfo img {
  border-radius: 50%;
  border-style: solid;
  border-color: #4D648D;
  height: 190px;
}

.description {
  margin-left: 20px;
  margin-top: 0;
}

section {
  /* 1E1F26 283655 4D648D D0E1F9 */
  background-color:#283655;
  border-radius: 50px;
  padding: 10px 50px; /* внутри */
  margin: 15px 50px; /* снаружи */
  border-width: 3px;
  border-style: solid;
  border-color: #4D648D;
  z-index: 0;
}

.ASCII {
  font-size: 18px;
  line-height: 18px;
}

.contacts {
  color: #283655;
  display: flex;
  justify-content: center;
}

.contacts a {
  color: #283655;
  padding-left: 10px;
  padding-right: 10px;
}