body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  background-color:#34675C;

}

nav {

  background-color:#7DA3A1;
  position: sticky;
  top: 0;
}

section {
  /* 324851 7DA3A1 34675C*/
  background-color:#7DA3A1;
  border-radius: 50px;
  padding: 10px 50px; /* внутри */
  margin: 15px 50px; /* снаружи */
  border-width: 3px;
  border-style: solid;
  border-color: #324851;  
}

.ASCII {
  font-size: 18px;
  line-height: 18px;
}

.myclass {
  /* все правила касающиеся текста обычно наследуются для вложенных в селектор объектов*/
  padding-top: 60px; /* отступ сверху */
  font: 16px/26px "Arial", sans-serif; /* составное свойство для описания шрифта, неполное*/
  font-size: 16px; /* размер шрифта */
  background-image: url("img/back.png"); /* фоновая картинка */
  color: red;
  border-radius: 50%; /* относительное значение*/
}

/*если надо уточнить какую-то деталь для определенного типа, то можно сделать вот так*/
.alert {
  /* свойства для рамок, отступов и так далее */
  background-color: lightgrey;
}
.alert-error { background-color: red; }

/*и в html сделать так <div class="alert alert-error">Оши-ы-ы-бка!</div>*/
/*можно писать в html-е 
<head>
  <style>
    CSS-код
  </style>
</head>*/